DATABASE_URL="postgresql://neondb_owner:npg_RJOnPep2Io7z@ep-curly-paper-ah4jao8w-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=dev_super_secret_key_123456789

# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_RJOnPep2Io7z@ep-curly-paper-ah4jao8w.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"